{% extends 'index.html' %}

{% block content %}
    <div class="categories-container">
        <h1 class="text-center py-4">Categorias de productos</h1>
        <table class="table">
            <thead class="thead-dark">
                <tr class="text-center">
                    <th scope="col">#</th>
                    <th scope="col">Imagen</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Opciones</th>
                </tr>
            </thead>
            <tbody>
                {% for category in categories %}
                <tr class="text-center">
                    <th scope="row">{{ category.id }}</th>
                    <td>
                        <div class="categories-image">
                            <img src="{{ category.url_img }}" alt="{{ category.name }}" style="height: 5em; width: auto;">
                        </div>
                    </td>
                    <td class="align-middle">{{ category.name }}</td>
                    <td class="align-middle">
                        <div class="btn-group">
                            <a href="./{{category.id}}/" type="button" class="btn btn-success">Ver</a>
                            <a type="button" class="btn btn-warning">Editar</a>
                            <a type="button" class="btn btn-danger">Eliminar</a>
                        </div>
                    </td>
                </tr>
                {% endfor %}  
            </tbody>
        </table>
    </div>
{% endblock %}