{% extends 'index.html' %}

{% block content %}
<div class="container w-100 py-2">
        <a href="{% url 'categories' %}" type="button" class="btn btn-danger mr-0">Regresar</a>
        <div class="card mx-auto my-2 p-4" style='max-width: 500px'>
            <img src="{{ product.url_img }}" class="card-img-top mx-auto" style='width :8em' alt="{{ product.name }}">
            <div class="card-body p-0 m-0">
                <div class="w-100 text-center align-middle">
                    <div class="row no-gutters ">
                        <div class="col-3 my-auto">
                            <img src="data:image/png;base64,{{ qr_code }}" class="card-img-bottom text-center" style='width : 100%;' alt="Código QR:{{ product.name }}">
                        </div>
                        <div class="col">
                            <div class="card-body align-middle" style="font-size:0.8em" >
                                <h5 class="card-title">{{ product.name }}</h5>
                                <p class="card-text"> {{ product.description }} </p>
                                <div class='row'>
                                    <p class="col card-tex price-cell"> Precio unitario: {{ product.price }} </p>
                                    <p class="col card-text"> Cantidad: {{ product.count }} </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}