{% extends 'index.html' %}

{% block content %}
<div class="product-detail">
        <a href="{% url 'categories' %}" type="button" class="btn btn-danger">Regresar</a>
        <div class="card mb-3">
            <img src="{{ product.url_img }}" class="card-img-top" style='width : 200px;' alt="{{ product.name }}">
            <div class="card-body">
                <h5 class="card-title"> {{ product.name }} </h5>
                <p class="card-text"> {{ product.description }} </p>
                <p class="card-text"> {{ product.price }} </p>
                <p class="card-text"> {{ product.count }} </p>
            </div>
            <img src="data:image/png;base64,{{ qr_code }}" class="card-img-bottom" style='width : 200px;' alt="Código QR:{{ product.name }}">
        </div>
    </div>
{% endblock %}