{% extends 'index.html' %}

{% block content %}
    <div class="menu-container d-flex flex-column align-items-center my-4">
        <a href="{% url 'categories' %}" class="btn btn-lg btn-block btn-primary mx-2 mb-2" style="max-width: 500px;">
            <i class="bi bi-box-seam-fill">
                Productos
            </i>
            <i class="bi bi-box-seam-fill">
            </i>
        </a>
        <a href="{% url 'services' %}" class="btn btn-lg btn-block btn-secondary mx-2 mb-2" style="max-width: 500px;">
            <i class="bi bi-hammer">
                Servicios
            </i>
            <i class="bi bi-hammer"></i>
        </a>
        <a href="{% url 'users' %}" class="btn btn-lg btn-block btn-success mx-2 mb-2" style="max-width: 500px;">
            <i class="bi bi-people-fill">
                Usuarios
            </i>
            <i class="bi bi-people-fill">
            </i>
        </a>
    </div>
{% endblock %}